/* Blog
================================================================================*/
.body__content{
	&.entry__blog {
		margin-top: 5em;
	}
}
.entry__blog {
	color: $color__headings;
	overflow: hidden;
	.entry__list,
	.entry__body {
		width: 100%;
		float: none;
		clear: both;
		@include media-query(768px) {
			width: 74%;
			float: right;
			clear: none;
		}
	}
	.blog__aside {
		padding: 0 0 3em 5em;
		width: 100%;
		float: none;
		margin-bottom: 2em;
		@include media-query(768px) {
			width: 25%;
			float: right;
			margin-bottom: 0;
		}
	}
	.entry__meta,
	.entry__sub-title {
		font-size: 1.3em;
	}
	.entry__sub-title {
		font-size: 1.5em;
		text-transform: uppercase;
		margin-top: 0.5em;
	}
	.entry__title {
		font-weight: normal;
		margin-bottom: 0;
		margin-top: 0.3em;
	}
	.entry__link {
		display: block;
		padding: 1em;
		border-bottom: 1px solid $yellow;
		color: $color__headings;
		background-color: transparent;
		transition: background-color 0.5s ease;
		/* &:hover {
			background-color: $yellow;
			transition: background-color 0.5s ease;
		} */
	}
}
.button-one {
	display: block;
	border: 1px solid #808285;
	padding: 4px 12px;
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	background-color: #808285;
	transition: background-color 0.5s ease, color 0.5s ease;
	&:hover {
		background-color: $yellow;
		color: $color__font;
		transition: background-color 0.5s ease, color 0.5s ease;
	}
}
.posts-navigation {
	margin-top: 5em;
	overflow: hidden;
	a {
		@extend .button-one;
	}
	.nav-next {
		float: none;
		margin-bottom: 1em;
		text-align: center;
		@include media-query(570px) {
			float: left;
		}
	}
	.nav-prev {
		float: none;
		margin-bottom: 1em;
		text-align: center;
		@include media-query(570px) {
			float: right;
		}
	}
}
.aside__archives {
	list-style-type: none;
	padding: 0;
	ul {
		list-style-type: none;
		padding: 0;
		overflow: hidden;
	}
	li {
		float: left;
		margin-right: 1em;
		@include media-query(768px) {
			float: none;
			margin-right: 0;
		}
		& > a {
			display: inline-block;
			margin-bottom: 1em;
			@extend .button-one;
		}
	}
}
.entry__single {
	.entry__header {
		width: 65%;
		margin: 0 auto;
	}
	.entry__body {
		margin-top: 2em;
		width: 100%;
		float: none;
		clear: both;
		font-size: 115%;
		line-height: 2.5em;
		@include media-query(768px) {
			width: 65%;
			margin: 2em auto 0 auto;
			clear: none;
		}
	}
	.entry__meta {
		font-size: 1.5em;
		a{
			color: $color__headings;
		}
	}
	.entry__title {
		margin-top: 0.25em;
		padding-bottom: 0.15em;
		font-size: 4em;
		border-bottom: 1px solid $yellow;
	}
	.meta__terms {
		font-size: italic;
		font-size: 1.5em;
		a{
			font-style: none;
			@extend .button-one;
			display: inline-block;
			font-size: 0.7em;
			margin-bottom: 1em;
		}
	}
	.entry__content {
		font-size: 1.5em;
		p {
			a {
				text-decoration: underline;
			}
		}
	}
}
.entry__footer {
	.posts-navigation {
		margin-bottom: 2em;
	}
}
.related-posts {
  	padding-top: 20px;
  	h2 {
  		font-weight: normal;
  		font-size: 2.5em;
  		padding-left: 0.1em;
  	}
  	ul {
  		list-style-type: none;
  		padding: 0;
  	}
  	li {
		overflow-y: hidden; 
		margin-left: 0px;
		a {
	  		display: block;
	  		width: 100%;
	  		margin-bottom: 0;
			border-bottom: 1px solid #ffd202;
			padding: 0.8em 0.1em;
			font-size: 1.8rem;
			color: $color__headings;
			background-color: transparent;
			transition: background-color 0.5s ease;
			&:hover {
				background-color: #ffd202;
				transition: background-color 0.5s ease;
			}
	  	}
	}
}
.category__header {
	margin-bottom: 3em;
}
.edit {
	display: inline-block;
	margin-bottom: 1em;
	a {
		@extend .button-one;
	}
}