/* Header
================================================================================*/
.body__header {
	overflow: hidden;
	position: relative;
	border-top: 8px solid #ffd202;
	padding: 1em 0;
}
.header__spacer {
	border: none;
	padding: 2em 0;
}