/* Portfolio
================================================================================*/
.portfolio__info {
	margin: 3em 0;
	overflow: hidden;
	.col__half {
		@include media-query(677px) {
			width: 100%;
		}
		@include media-query(795px) {
			width: 50%;
		}
	}
	section {
		padding: 0 1em;
		@include media-query(795px) {
			padding: 0 5em;
		}
	}
	header {
		width: 100%;
		height: auto;
		border-bottom: 1px solid $yellow;
		margin-bottom: 1em;
		@include media-query(795px) {
			height: 43px;
		}
	}
	.heading__close {
		display: none;
		float: right;
		line-height: 1.5em;
		@include media-query(795px) {
			display: block;
		}
	}
	p,
	.heading__close {
		font-size: 1.65em;
	}
	.details__heading {
		margin-bottom: 0;
		color: $color__font;
		font-size: 1.5em;
		font-weight: bold;
		letter-spacing: 0.075em;
		text-transform: uppercase;
	}
}
.portfolio__images {
	overflow: hidden;
	.col__half {
		margin-bottom: 0;
	}
}
.footer__close {
	display: block;
	width: 90px;
	margin: 5em auto;
	padding-top: 14px;
	color: #d1d3d4 !important;
	font-size: 1.5em;
	text-decoration: none;
	text-align: center;
	background-image: url(images/arrow-up.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 14px 9px;
}